body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.first-section{
  display: flex;
}
.skip{
  color: #FB934A;
}
.healthy-diet{
  color: #575757;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 50px;
  color: #707070;
}
.container{
  width: 50%;
  padding: 5%;
}
.container img{
  height: 900px;
  width: 860px;
}
.container p{
  font-size: 24px;
  color: gray;
  margin-bottom: 70px;
}
.order-button{
  background-image: linear-gradient(tomato, orange);
  padding: 20px 50px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  border-radius: 30px;
}

.second-section{
  display: flex;
  background-image: url(images/7.png);
  background-repeat:no-repeat;
  background-size: cover;
  
}
.second-container{
  width: 50%;
  margin-top: 10%;
}
.second-container img{
  width: 40%;
  padding-left: 250px;
  margin-top: -90px;
}
.second-container p{
  font-size: 24px;
  margin-right: 270px;
  margin-bottom: 90px;
}
.new-container{
  margin: auto;
  text-align: center; 
  width:35%;
}
.recipies{
  font-size: 35px;
}
.new-container p{
  font-size: 22px;
}
.last-section{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
 
}
.perfect-width1{
  margin-left: 5%;
  margin-right: 15px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 20px gray;
  padding-left: 40px;
  padding-top: 40px;
  border-radius: 50px;
  
}
.perfect-width1 img{
  width: 95%;
}
.perfect-width2 img{
  width: 95%;
}
.perfect-width2{
  margin-left: 15px;
  margin-right: 5%;
  margin-bottom: 40px;
  box-shadow: 2px 2px 20px gray;
  padding-left: 40px;
  padding-top: 40px;
  padding-left: 40px;
  border-radius: 50px;
}
.last-p{
  font-size: 22px;
  padding-right: 40px;
  margin-bottom: 60px;
}
.recipie-title{
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.social-div{
  display: flex;
  border-radius: 30px;
  box-shadow: 2px 2px 20px gray;
  margin: 0 5% 5% 5%;
  padding: 3%;
}
.social-div-heading{
  font-size: 50px;
  color: black;
}
.internal-social{
 margin: 0 auto;
}
.internal-social p{
 margin-top: -50px;
 font-size: 22px;
}
.final-div{
  background-color: black;
  margin-top: 5%;
  height: 350px;
}
.final-div h2{
  text-align: center;
  font-size: 35px;
  padding-top: 40px;
}
.final-div p{
  color: white;
  font-size: 18px;
  text-align: center;
}